In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})
df

    a  b
0  10  2
1  20  4
2  30  6

In [2]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4,3))

16
64

In [3]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
print(df.apply(my_fun1))

re1 = df['a'].apply(my_fun1)
print(re1)

re2 = df['a'].apply(my_fun2, n=4)
print(re2)

     a   b
0  100   4
1  400  16
2  900  36
0    100
1    400
2    900
Name: a, dtype: int64
0     10000
1    160000
2    810000
Name: a, dtype: int64

In [4]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

    # *** 여기서 df가 my_fun3 함수의 인자 col로 컬럼단위로 들어간다는 것을 이해. ( 컬럼수 만큼 반복하여 )
# re3 = df.apply(my_fun3) # axix=0 기본값 ( 행방향으로 열단위)
re3 = df.apply(lambda x : my_fun3(x))
print(re3)

# 만일 행단위 단위로 데이타의 합을 출력
re4 = df.apply(my_fun3, axis=1)
print(re4)

a    60
b    12
dtype: int64
0    12
1    24
2    36
dtype: int64

람다표현식와 연결하면
- 더 읽기 편한가

In [5]:
# 'a' 컬럼의 값이 10은 'C', 20은 'B', 30은 'A'를 지정하고자 할 때

def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

#df['a'].apply(func)

# 람다표현식으로 작성하면
df['a'].apply(lambda x : func(x))

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

한번에 함수를 만들수는 없을까???

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [11]:
import pandas as pd

customer = pd.read_csv('./data/customer.csv')
customer

# index_col : 지정한 컬럼을 Row Index로 사용한다.
# customer = pd.read_csv('./data/customer.csv', index_col = "Name")
# customer

   Name        date  price      state
0  Kang  2017-01-01    500  confirmed
1   Kim  2017-01-03    700  confirmed
2  Choi  2017-01-03    900  confirmed
3  Park  2017-01-05    800  confirmed
4   Lee  2017-01-07    500   canceled
5  Yoon  2017-01-09    700  confirmed
6  Jang  2017-01-09    600   canceled
7    Ko  2017-01-10    200   canceled

In [14]:
customer['grade'] = (customer['price'] >= 500) & (customer['state'] == "confirmed")

def func(x):
    if x == True :
        grade = "VIP"
    else :
        grade = "non_VIP"
    return grade

customer['grade'] = customer['grade'].apply(func)
customer

   Name        date  price      state    grade
0  Kang  2017-01-01    500  confirmed      VIP
1   Kim  2017-01-03    700  confirmed      VIP
2  Choi  2017-01-03    900  confirmed      VIP
3  Park  2017-01-05    800  confirmed      VIP
4   Lee  2017-01-07    500   canceled  non_VIP
5  Yoon  2017-01-09    700  confirmed      VIP
6  Jang  2017-01-09    600   canceled  non_VIP
7    Ko  2017-01-10    200   canceled  non_VIP

In [8]:

# 안됨
'''
def find_level(amount, state):
    # print(state)         -> 매번 모든 customer['state'] 의 값이 출력된다
    if amount >= 500:
        result = 'VIP'
    else:
        result = 'non-VIP'
    
    return result
    
customer["grade"] = customer["price"].apply(find_level, state=customer['state'])
customer
'''

'\ndef find_level(amount, state):\n    # print(state)         -> 매번 모든 customer[\'state\'] 의 값이 출력된다\n    if amount >= 500:\n        result = \'VIP\'\n    else:\n        result = \'non-VIP\'\n    \n    return result\n    \ncustomer["grade"] = customer["price"].apply(find_level, state=customer[\'state\'])\ncustomer\n'