###  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


### 데이타 필터링

분석에 필요한 데이타를 거르는 작업

# 고속버스 데이타셋에서 인사이트를 도출

[예] 

1. 우승고속에 대한 데이타 필터링(추출)

2. 경부선에서 총이용인원이 1000명 이상인 데이타 필터링(추출)

3. 그 외 데이타를 찾아내시오

In [4]:
import pandas as pd

df = pd.read_excel('data/고속버스.xlsx') 
       # sheetname='highway'  encoding='cp949' 추가 안해도 실행  
df.head()  # 상위 5개만 보임

   차종   선별 출발지   도착지     거리  총운행횟수  총이용인원   이용율
0  우등  88선  광주    울산  327.8    412   7283  63.1
1  고속  88선  광주    울산  327.8    145   3050  46.7
2  우등  88선  광주  울산신복  327.8    164    545  11.9
3  고속  88선  광주  울산신복  327.8     70    311   9.9
4  우등  88선  광주   동대구  219.3   1369  21873  57.1

[연습]

In [6]:
# 필터링 - 우등고속에 대한 데이터대상
df_sample = df[df['차종']=='우등']
df_sample

     차종   선별   출발지   도착지     거리  총운행횟수  총이용인원    이용율
0    우등  88선    광주    울산  327.8    412   7283   63.1
2    우등  88선    광주  울산신복  327.8    164    545   11.9
4    우등  88선    광주   동대구  219.3   1369  21873   57.1
6    우등  88선    광주    구미  246.1    208   2634   45.2
7    우등  88선    광주    경주  286.9    139   2102   54.0
8    우등  88선    광주    포항  303.2    234   3931   60.0
10   우등  88선    목포   동대구  295.7    131   1447   39.4
11   우등  88선    목포    구미  347.4    114   1732   54.3
12   우등  88선    전주    부산  265.1    752   9232   43.8
14   우등  88선    전주    울산  308.7    196   2932   53.4
16   우등  88선    전주   동대구  198.5    464   7521   57.9
21   우등  경부선  서울경부  대전복합  153.2   3555  77759   78.1
24   우등  경부선  서울경부    공주  125.9   1633  36623   80.1
26   우등  경부선  서울경부    금산  188.3    241   3507   52.0
30   우등  경부선  서울경부   세종시  130.7   3656  63570   62.1
31   우등  경부선  서울경부    청주  123.0   3705  77586   74.8
33   우등  경부선  서울경부    부산  384.3   2597  46336   63.7
35   우등  경부선  서울경부  부산사상  387.5    350   6536   66.7
37   우등  경부선  서울경부    울산  389.5   1706  21450   44.9
39   우등  경부선  서울경부   동대구  282.9   3122  54428   62.3
41   우등  경부선  서울경부    구미  237.7   1536  24246   56.4
43   우등  경부선  서울경부    경주  343.3    746   9278   44.4
45   우등  경부선  서울경부    김천  229.1    421   5401   45.8
47   우등  경부선  서울경부    상주  194.7    673  11080   58.8
49   우등  경부선  서울경부    포항  361.1   1833  23589   46.0
52   우등  경부선  서울경부    점촌  174.8    516   9607   66.5
54   우등  경부선   동서울  대전복합  166.7   1514  21736   51.3
56   우등  경부선   동서울    청주  133.0   1381  17403   45.0
58   우등  경부선   동서울    부산  386.6    540  10459   69.2
60   우등  경부선   동서울   동대구  285.5   1161  21322   65.6
..   ..  ...   ...   ...    ...    ...    ...    ...
286  우등  호남선   동서울    광양  342.7    261   3399   46.5
288  우등  호남선   동서울   동광양  342.7    248   2989   43.0
290  우등  호남선   동서울    전주  227.9   1395  19023   48.7
292  우등  호남선   동서울    정읍  261.5    187   2570   30.5
295  우등  호남선    상봉    전주  224.9    104   1244   42.7
297  우등  호남선  서울남부    광양  329.9    303   4727   55.7
299  우등  호남선  서울남부   동광양  329.9    304   3265   38.4
301  우등  호남선    인천    남원  274.7    103   1508   32.5
304  우등  호남선  인천공항   동광양  392.1     26   1288  176.9
306  우등  호남선   서수원    광주  268.1     62    402   14.4
307  우등  호남선    수원    광주  261.0   1584  25589   57.7
308  우등  호남선    수원    광주  261.0    320   7382   51.3
310  우등  호남선    수원    목포  320.0     20    584   64.9
312  우등  호남선    수원    여수  326.0     17    599   78.3
314  우등  호남선  고양화정    광주  331.7    712   7971   40.0
317  우등  호남선  고양화정    전주  244.9    188   3088   36.5
319  우등  호남선    성남    광주  284.3    225   5339   52.7
321  우등  호남선    성남    전주  197.4    288   6834   52.7
323  우등  호남선    안성    광주  246.1    123   1103   32.0
326  우등  호남선    용인    광주  273.7    187   3487   41.4
328  우등  호남선   의정부    광주  349.3    130   2178   37.2
330  우등  호남선    안산    광주  293.1    263   5520   46.6
332  우등  호남선    안산    익산  202.0    184   2502   30.2
334  우등  호남선  시흥시화    광주  302.6      5    153   68.0
336  우등  호남선  대전복합    광주  178.6   1015  16872   59.4
338  우등  호남선  대전복합    전주   90.4   1944  44280   50.6
339  우등  호남선  대전시외    여수  225.4     66   1040   35.0
344  우등  호남선   세종시    함평  238.2     24   3578  331.3
348  우등  호남선    광주    전주  105.9   1802  34137   67.7
350  우등  호남선    여수    군산  195.9    114    711   22.3

[170 rows x 8 columns]

In [13]:
# 필터링 - 경부선에서 총이용인원이 1000명 이상인 데이타대상
# 각 조건별로 반드시 ( )로 묶어야 한다
df_sample = df[ (df.선별=='경부선') & (df.총이용인원>=1000)] 
df_sample.sort_values(by='총이용인원', ascending=0).head(10)

    차종   선별   출발지   도착지     거리  총운행횟수   총이용인원   이용율
23  고속  경부선  서울경부    천안   84.1   5213  185241  79.0
18  고속  경부선  서울경부    안성   77.8   3541   99277  62.3
21  우등  경부선  서울경부  대전복합  153.2   3555   77759  78.1
31  우등  경부선  서울경부    청주  123.0   3705   77586  74.8
20  고속  경부선  서울경부    평택   69.8   2770   72167  57.9
22  고속  경부선  서울경부  대전복합  153.2   1507   64208  94.7
30  우등  경부선  서울경부   세종시  130.7   3656   63570  62.1
39  우등  경부선  서울경부   동대구  282.9   3122   54428  62.3
33  우등  경부선  서울경부    부산  384.3   2597   46336  63.7
32  고속  경부선  서울경부    청주  123.0   2030   44563  48.8