[예제] 파이썬의 데이타 주무르기


## 서울시 자치구 인구대비 CCTV 현황

1. 서울시 자치구 연도별 CCTV 현황

    서울열린데이타 : https://data.seoul.go.kr 에서 cctv 검색하여 csv 파일 다운로드
    

2. 서울시 주민등록인구 (구별) 통계

    서울열린데이타 : https://data.seoul.go.kr > 인구 > XLS 파일 다운로드

## 1. 서울시 자치구 연도별 CCTV 현황

In [35]:
# 1. 데이타 살펴보기

import pandas as pd

""" 1. 서울시 자치구 연도별 CCTV 현황 """
cctvSeoul = pd.read_csv('./data/cctv_in_seoul.csv',encoding='utf-8')

# (1) CCTV가 많은 순으로 정렬하여 상위 5위 
cctvSeoul.head(5)


# (2) 2014~2016년 3년간 CCTV 증가율을 추가
#     3년동안의 증가율 = ( 2014년 + 2015년 + 2016년 ) / 2013년도 이전 * 100
#     3년간 증가율 높은 순으로 출력
cctvSeoul['3년 동안의 증가율'] = ((cctvSeoul['2014년'] + cctvSeoul['2015년'] + cctvSeoul['2016년']) / cctvSeoul['2013년도 이전']) * 100
cctvSeoul.head(5)

   기관명    소계  2013년도 이전  2014년  2015년  2016년  3년 동안의 증가율
0  강남구  3238       1292    430    584    932  150.619195
1  강동구  1010        379     99    155    377  166.490765
2  강북구   831        369    120    138    204  125.203252
3  강서구   911        388    258    184     81  134.793814
4  관악구  2109        846    260    390    613  149.290780

## 2. 서울시 주민등록인구 (구별) 통계

[ 파일읽기 ]  

popsSeoul = pd.read_excel('./dataset/pops_in_seoul.xls')

수정하고 데이타 정리

---
[ 출력결과 ]  popsSeoul.head(5)

<img src='images/그림1.PNG' width='80%' height='100'>

In [44]:
""" 2. 서울시 주민등록인구 (구별) 통계 """

popsSeoul = pd.read_excel('./data/pops_in_seoul.xls') 
popsSeoul.head(5)  

# 컬럼명 변경
popsSeoul.rename( columns={ popsSeoul.columns[0]:'구별',
                          popsSeoul.columns[1]:'인구수',
                          popsSeoul.columns[2]:'한국인',
                          popsSeoul.columns[3]:'외국인',
                          popsSeoul.columns[4]:'고령자'}, inplace=True)

popsSeoul.drop([0], inplace=True)
popsSeoul['인구수']= (popsSeoul['한국인'] + popsSeoul['외국인'] ) 
popsSeoul.head(5)

,구별,인구수,한국인,외국인,고령자,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
1,기간,세대계,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2018,14313475,4263868,10049607,4910849,5138758,9765623,4773899,4991724,283984,136950,147034,2.29,1416131
3,2018,236761,73735,163026,79156,83870,153065,74825,78240,9961,4331,5630,2.08,26742
4,2018,197135,61502,135633,66674,68959,125725,61947,63778,9908,4727,5181,2.04,22005
5,2018,354064,108974,245090,119766,125324,228999,110640,118359,16091,9126,6965,2.1,37640

##  3. 두 데이타프레임을 합치고 분석

    (1) 두 데이타프레임의 행과 열의 수 확인
    
        > cctvSeoul.shape
        
        > popsSeoul.shape

    (2) 연결 ( mergy 함수  )
        먼저 합치고 필요한 컬럼을 추출하기보단
        각각 필요한 컬럼을 추리고 나서 합치는 것을 권장
        
        
---        
[ 출력결과 ]

<img src='images/그림3.PNG' width='600'>

In [45]:
result3_in = pd.concat([cctvSeoul,popsSeoul],axis=1, join='inner')
result3_in.head(5)

SyntaxError: unexpected EOF while parsing (<ipython-input-45-50b32acd2709>, line 3)

## 4. 분석하기 

        외국인비율, 고령자비율, 인구수와 CCTV 수와 상관있나?

In [25]:
""" 4. 분석하기 
        외국인비율, 고령자비율, 인구수와 CCTV 수와 상관있나?
        
        상관계수로 확인 : numpy.corrcoef()
            0.1이하 상관없음
            0.3이하 약한 상관관계
            0.7이하 뚜렷한 상관관계
"""
import numpy as np

# print( np.corrcoef(result['소계'], result['외국인비율']) )
# print( np.corrcoef(result['소계'], result['고령자비율']) )
# print( np.corrcoef(result['소계'], result['인구수']) )

NameError: name 'result' is not defined

## 5. 시각화로 분석을 보여주기

## 추가적으로 분석을 하여 결과 도출